<h3>Dashboard</h3>
<div class="card #b9f6ca green accent-1">
  <div class="container">
    <div class="card-title">Total rentals:</div><hr>
    <div class="card-content"><strong>{{rentalNumber}}</strong> rentals</div>
  </div>
</div>
<div class="card #f4ff81 lime accent-1">
  <div class="container">
    <div class="card-title">Total customers:</div><hr>
    <div class="card-content"><strong>{{CustomerNumber}}</strong> customers</div>
  </div>
</div>
<div class="card #ffcdd2 red lighten-4">
  <div class="container">
    <div class="card-title">Total users:</div><hr>
    <div class="card-content"><strong>{{userNumber}}</strong> users</div>
  </div>
</div>
